.example-card {
    max-width: 800px;
    display: block;
    margin: 0 auto;

  }
  
  .example-header-image {
    background-image: url('https://static.vecteezy.com/system/resources/thumbnails/002/002/403/small/man-with-beard-avatar-character-isolated-icon-free-vector.jpg');
    background-size: cover;
  }
  